/*
* @Author: dell
* @Date:   2019-12-15 08:14:54
* @Last Modified by:   dell
* @Last Modified time: 2019-12-15 08:19:51
*/
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
#box1{
	width: 1200px;
	height: 390px;
	/* border: 1px solid red; */
	margin: auto;
	/* background: lightblue; */
	position: relative;
	overflow: hidden;
}
.box3{
	width: 8400px;
	position: absolute;
	left: -1200px;
	margin-top: 10px;
}
.slide{
	width: 1200px;
	float: left;
	overflow: hidden;
}
#box1>span{
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	top: 175px;
	line-height: 50px;
	background: rgb(255,0,0);
	font-size: 30px;
	position: absolute;
	opacity: 0;
}
#leftButton{
	left: 30px;
}
#rightButton{
	right: 30px;
}
.nav{
	position: absolute;
	left: 500px;
	bottom: 20px;
}
.nav>li{
	float: left;
	width: 20px;
	height: 20px;
	background: lightgray;
	cursor: pointer;
	margin: 0 10px;
	border-radius: 50%;
}
.nav .active{
	background: red;
	color: white;
}
.box4{
	/* width: 1200px; */
	height: 20px;
	background: lightgray;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.box4 div{
	float: left;
}
.b{
	height: 20px;
	width: 1050px;
	margin-left: 150px;
	position: absolute;
	/* border: 1px black solid; */
	overflow: hidden;
}
.box2{
	width: 1780px;
	/* border: 1px black solid; */
	left: -353px;
	position: absolute;
}
.txt{
	float: left;
	width: 1400px;
	color: red;
	font-size: 13px;
	/* border: 1px black solid; */
}
.txt1{
	float: left;
	width: 380px;
	color: red;
	font-size: 13px;
	/* border: 1px black solid; */
}